{% extends './base.html' %}
{% block content %}
{% include "methods/basemethod.html" %}
<div class="container" style="display:flex;">
  <div class="row">
    <!-- <div class="col-sm-4 h-100" style="{{styleb1}}">
      <div class="card border-primary mb-3 h-100" style="max-width: 20rem;">
      <div class="card-header">Result <div style="display:inline-block; visibility:{{def_style_button}}">for threshold={{def_threshold}} </div></div>

      <img src="{{defaultimage}}" alt="">
      </div>
    </div> -->

  <div class="col h-100">
  <form method=post action ='/sendfilemethod4' enctype=multipart/form-data >
  <fieldset>
    <legend>Test image allowed</legend>
    <p>Uploading not available yet</p>
    <button type="submit" class="btn btn-primary">Run Test</button>

  </fieldset>
</form>
<br/>
<!-- ?path={{defaultimage}}&t={{def_threshold}} -->
</div>
<div class="col ">
  <p>Input Image</p>
  <img src="{{defaultimage}}" class="img-fluid" alt="">

</div>
</div>
</div>
<style>
  table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
  }

  .male th {
      background-color: #add8e6;
      color: white;
  }

  .female th {
      background-color: #77dd77;
      color: white;
  }

  tr:nth-child(odd)		{ background-color:#eee; }
  tr:nth-child(even)	{ background-color:#fff; }

  tr:hover            { background-color: #ffff99;}</style>
<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col">
      <p>Result Graph</p>
      {% if graph_ready is defined %}
    <img src="{{graph_ready}}" class="img-fluid" alt="">
{% else %}
    <img src="{{defaultimage}}" class="img-fluid" alt="">
{% endif %}
    </div>
    <div class="col">
      <p>Calculated S_ value = {{text_s}} AvsNC = {{text_A}}</p>
      {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}

    </div>


</div>

  </div>


{% endblock%}
