{% extends './base.html' %}
{% block content %}
{% include "methods/basemethod.html" %}
<div class="container" style="display:flex;">
  <div class="row">
    <!-- <div class="col-sm-4 h-100" style="{{styleb1}}">
      <div class="card border-primary mb-3 h-100" style="max-width: 20rem;">
      <div class="card-header">Result <div style="display:inline-block; visibility:{{def_style_button}}">for threshold={{def_threshold}} </div></div>

      <img src="{{defaultimage}}" alt="">
      </div>
    </div> -->

  <div class="col h-100">
  <form method=post action ='/sendfilemethod3' enctype=multipart/form-data >
  <fieldset>
    <legend>PCA Image Analysis</legend>
    <div class="form-group">
      <label for="exampleInputFile">Image input</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="image_uploaded">
      <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </fieldset>
</form>
<br/>
<!-- ?path={{defaultimage}}&t={{def_threshold}} -->
<form style="display:inline-block;" action="/calculatem3">
  <button type="submit" class="btn btn-primary" style="visibility:{{def_style_button}}">Calculate</button>
</form>
</div>
<div class="col ">
  <p>Input Image</p>
  <img src="{{defaultimage}}" class="img-fluid" alt="">

</div>
</div>
</div>
<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col">
      <p>Result Graph</p>
      {% if graph_ready is defined %}
    <img src="{{graph_ready}}" class="img-fluid" alt="">
{% else %}
    <img src="{{defaultimage}}" class="img-fluid" alt="">
{% endif %}
    </div>
    <div class="col">
      <p>Reconsructed image</p>
      {% if rec_im is defined %}
    <img src="{{rec_im}}" class="img-fluid" alt="">
{% else %}
    <img src="{{defaultimage}}" class="img-fluid" alt="">
{% endif %}

    </div>


</div>

  </div>


{% endblock%}
