{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style="background-image:url('/static/randomart.png'); background-size:cover;">
  <h1 class="display-3">SoilOnline</h1>
  <p class="lead">Calculation of basic soil physical parameters online</p>
  <hr class="my-4">
  <p> Models and methods are constantly being added, see what's available now:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<div class="container row">
  <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
{% endblock %}
